.sidebar{
    width: 251px;
    border-right: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.name-header{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  font-weight: bolder;
}

.sec{
  margin-top: 30px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bottom-section{
  margin-bottom: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.prices{
  display: flex;
  gap: 50px;
}